<section class="mx-5 mb-5">
  <h1 class="text-2xl font-bold">Pipes no tan comunes</h1>
  <h3 class="text-xl font-thin">Pipes incluidos en Angular</h3>
</section>

<section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
  <app-card title="i18nsSelectPipe">
    <p>
      Saludos {{ client().name }}, es un placer
      {{ client().gender | i18nSelect : invitationMap }} a nuestro evento
    </p>

    <button class="btn btn-primary" (click)="changeClient()">
      Cambiar Cliente
    </button>
  </app-card>
  <app-card title="i18nsPluuralPipe">
    <p>
      Actualmente
      {{ clients().length | i18nPlural : clientsMap() }}
    </p>

    <button
      [disabled]="clients().length === 0"
      class="btn btn-primary"
      (click)="deleteClient()"
    >
      Borrar Cliente
    </button>
  </app-card>
</section>
